! --- CONFIGURACIÓN DE FUENTES Y ANTIALIASING ---
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! --- CONFIGURACIÓN DE BORDES DE XTerm ---
XTerm.borderWidth: 10

! --- CONFIGURACIÓN DE BORDES DE URxvt ---
URxvt.internalBorder: 10
URxvt.externalBorder: 10
URxvt.padding: 10

! --- CONFIGURACIÓN DE BORDES DE ST ---
st.borderpx: 10
st.font: BitstromWera Nerd Font:pixelsize=14
st.opacity: 255


! --- COLORES GENERALES ---
! *background: #444
! *foreground: #FFF

*background: #272822       
*foreground: #f8f8f2       

! --- PALETA DE COLORES CLÁSICOS FREEBSD ---
*color0: #000            
*color1: #AB2B28         
! *color2: #43B929
*color2: #a6e22e       
*color3: #F1BB16         
*color4: #ae81ff         
*color5: #ed3ea3         
*color6: ##4169e1      
*color7: #f8f8f2
         
*color8: #272822       
*color9: #FF6E6E         
*color10: #D0F58B        
*color11: #F9E18A        
*color12: #E1BFFF        
*color13: ##FF79C6        
*color14: 7998ff        
*color15: #FFF        

! --- CONFIGURACIÓN DE FUENTES ---
! Para usar estas fuentes, descomenta la línea correspondiente y aplica con `xrdb -merge ~/.Xresources
! pixelsize: pixelsize define el tamaño de la fuente en píxeles absolutos.
! size: size define el tamaño de la fuente en puntos (pt), que es una medida relativa a la resolución de la pantalla.

! *.font: xft:Mononoki Nerd Font Mono::pixelsize=14
! *.font: xft:Mononoki Nerd Font Mono:pixelsize=14
! *.font: xft:Mononoki Nerd Font:pixelsize=14
! *.font: xft:Mononoki Nerd Font:pixelsize=14
! *.font: xft:SauceCodePro NF Black:pixelsize=14
! *.font: xft:SauceCodePro NF:pixelsize=14
! *.font: xft:Hack Nerd Font:pixelsize=14
! *.font: xft:Hack Nerd Font:pixelsize=14
! *.font: xft:NotoSans NF:pixelsize=14
! *.font: xft:NotoSans NF:pixelsize=14
! *.font: xft:Iosevka NF:pixelsize=14
! *.font: xft:JetBrainsMonoNL NF:pixelsize=14
! *.font: xft:JetBrainsMono NF:pixelsize=14
  *.font: xft:BitstromWera Nerd Font:pixelsize=14
! *.font: xft:BitstromWera Nerd Font Mono:pixelsize=14
! *.font: xft:FiraCode Nerd Font:pixelsize=14
! *.font: xft:DejaVuSansM Nerd Font:pixelsize=14

! --- CONFIGURACIONES DE URxvt ---
URxvt.depth: 32
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*saveLines: 5000

