! --- CONFIGURACIÓN DE FUENTES Y ANTIALIASING ---
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! --- CONFIGURACIÓN DE BORDES DE XTerm ---
XTerm.borderWidth: 10

! --- CONFIGURACIÓN DE BORDES DE URxvt ---
URxvt.internalBorder: 10
URxvt.externalBorder: 10
URxvt.padding: 10

! --- COLORES GENERALES ---
*background: #444       
*foreground: #FFF       

! --- PALETA DE COLORES CLÁSICOS FREEBSD ---
*color0: #000            
*color1: #AB2B28         
*color2: #43B929       
*color3: #F1BB16         
*color4: #0645AD         
*color5: #BF6900         
*color6: #19407C         
*color7: #F0F1F5         
*color8: #6272A4        
*color9: #FF6E6E         
*color10: #69FF94        
*color11: #FEF8E7        
*color12: #F4F4F4        
*color13: #EAF1FB        
*color14: #BF3400        
*color15: #FFF4E6        

! --- CONFIGURACIÓN DE FUENTES (COMENTADAS) ---
! Para usar estas fuentes, descomenta la línea correspondiente y aplica con `xrdb -merge ~/.Xresources
! pixelsize: pixelsize define el tamaño de la fuente en píxeles absolutos.
! size: size define el tamaño de la fuente en puntos (pt), que es una medida relativa a la resolución de la pantalla.

! *.font: xft:Mononoki Nerd Font Mono::pixelsize=14
! *.font: xft:Mononoki Nerd Font Mono:pixelsize=14
! *.font: xft:Mononoki Nerd Font:pixelsize=14
! *.font: xft:Mononoki Nerd Font:pixelsize=14
! *.font: xft:SauceCodePro NF Black:pixelsize=14
! *.font: xft:SauceCodePro NF:pixelsize=14
! *.font: xft:Hack Nerd Font:pixelsize=14
! *.font: xft:Hack Nerd Font:pixelsize=14
! *.font: xft:NotoSans NF:pixelsize=14
! *.font: xft:NotoSans NF:pixelsize=14
! *.font: xft:Iosevka NF:pixelsize=14
! *.font: xft:JetBrainsMonoNL NF:pixelsize=14
! *.font: xft:JetBrainsMono NF:pixelsize=14
! *.font: xft:BitstromWera Nerd Font:pixelsize=14
! *.font: xft:BitstromWera Nerd Font Mono:pixelsize=14
! *.font: xft:FiraCode Nerd Font:pixelsize=14

! --- CONFIGURACIONES DE URxvt ---
URxvt.depth: 32
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*saveLines: 5000

